body{
    margin: 0px;
    font-family: Circular, sprify-circular, Helvetica, Arial, sans-serif;
    color: white;
}

nav{
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item{
    padding: 28px 17px;
    color: white;
}

main{
    background-color: rgb(41, 65, 171);
    height: 969px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
}

a{
    text-decoration: none;
    color: white;   
}

a:hover{
    color: #1ed760;
}

.headline{
    color: #1ed760;
    font-size: 150px;
    font-weight: 900;
    position: relative;
    left: 225px;
    padding-bottom: 40px;
}

.headline-1{
    position: relative;
    left: -2.5em;
}

.headline-3{
    color: #1ed760;
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
}

button{
    background-color: #1ed760;
    border: none;
    font-size: inherit;
    color: #2941ab;
    font-weight: 700px;
    border-radius: 500px;
    padding: 14px 32px;
    font-weight: 900;
}

button:hover{
    transform: scale(1.3);
    color: black;
}

.bt-area{
    text-align: center;
}

footer{
    background-color: black;
    height: 530px;
    display: flex;
    justify-content: center;
}

/* spotify 하단 공략집 따라함 연습 필요... */
.container {
    max-width: 1170px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}

.first-box {
    width: 60%;
    display: flex;
    justify-content: space-between;
}


.second-box {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}


.footer-menu {
    display: flex;
    justify-content: space-between;
    height: 346px;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.sub-title {
    color: #919496;
    font-weight: 900;
    margin: 20px 0px;
}.column {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.sub-title {
    color: #919496;
    font-weight: 900;
    margin: 20px 0px;
}
.footer-menu-item {
    padding-bottom: 15px;
    padding-top: 3px;
    font-size: 16px;
}

.icon-box {
    width: 54px;
    height: 54px;
    background-color: #222322;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    font-size: 24px;
}
.icon:hover {
    color: #2de26d;
}

.first-line {
    color: #919496;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

.second-line {
    color: #919496;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.second-line-item {
    margin-right: 24px;
    color: #919496;
}